.send-button{
    background-color: rgb(25, 125, 84);
    color: white;
    border: none;
    border-radius: 10px ;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
}

.chat-input{
    padding: 12px 15px;
    border-radius: 10px;
    border: solid gray 1px;
    width: 480px;
    margin-right: 10px;
    /*font-size: 15px;*/
    flex-grow: 1;

}

.chat-input-container{
    display: flex;  
    margin-bottom: 25px;

}