.chat-message-user{
    display: flex;
    justify-content: right;
    align-items: start;

}

.chat-message-robot{
    display: flex;
    justify-content: left;
    margin: 15px 0px;
     
    align-items: start;

}



.chat-message-robot > img{
    margin-right: 10px;
    width: 50px;
}

.chat-message-user > img{
    margin-left: 10px;
    width: 60px;
    height:50px;
    border-radius: 50%;
}

.chat-message-text{
    background-color: rgb(238, 238, 238
    );

   
    padding: 15px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif ;
    max-width: 400px;
}
