



.app-container{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100vh;
}

.container{
    display: flex;
}






